body{

font-family: -apple-system,BlinkMacSystemFont,"Segoe UI";
margin:0;
background:#f5f6fa;

}


.header{

background:white;
padding:20px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
position:sticky;
top:0;

}


.header h1{

margin:0;
font-size:24px;

}


#searchBar{

width:100%;
margin-top:10px;
padding:10px;
border-radius:8px;
border:1px solid #ddd;

}


.container{

padding:20px;

}


.boxesGrid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;

}


.boxCard{

background:white;
padding:20px;
border-radius:12px;
text-decoration:none;
color:black;
box-shadow:0 4px 8px rgba(0,0,0,0.08);
transition:0.2s;

}


.boxCard:hover{

transform:scale(1.05);

}


.boxIcon{

font-size:40px;

}


.boxName{

font-weight:600;

}


.boxCount{

color:gray;
font-size:14px;

}



.itemsGrid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:15px;

}


.itemCard{

background:white;
padding:10px;
border-radius:12px;
text-align:center;
position:relative;
box-shadow:0 4px 6px rgba(0,0,0,0.1);

}


.itemCard img{

width:100%;
height:100px;
object-fit:cover;
border-radius:8px;

}


.itemName{

font-weight:600;
margin-top:5px;

}


.itemQty{

color:gray;

}


.deleteBtn{

position:absolute;
top:5px;
right:8px;
text-decoration:none;
color:red;

}


button{

padding:10px 15px;
border:none;
background:#4CAF50;
color:white;
border-radius:8px;
cursor:pointer;

}


button:hover{

background:#45a049;

}


input{

padding:10px;
border-radius:8px;
border:1px solid #ddd;

}


.addBox{

margin-bottom:20px;

}


.addItem{

margin-bottom:20px;

}



/* MOBILE */

@media(max-width:600px){

.header h1{

font-size:20px;

}

}

.fab{

position: fixed;
bottom: 25px;
left: 25px;

width: 60px;
height: 60px;

border-radius: 50%;

background: #0d6efd;
color: white;

font-size: 32px;
text-align: center;
line-height: 60px;

box-shadow: 0 6px 15px rgba(0,0,0,0.25);

cursor: pointer;

z-index: 1000;

transition: transform .2s;

}

.fab:hover{
transform: scale(1.1);
}